.footer {
  background-color: #928dab; /* סגול אינדיגו כהה */
  color: #fff;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  font-family: 'Segoe UI', sans-serif;
  animation: fadeIn 1.5s ease-in-out;
}

.footer h1 {
  margin: 0;
  font-size: 1.2rem;
}

.footer .footer-address,
.footer .studio {
  font-size: 1.1rem;
  color: #dcd0ff;
}

.footer .footer-contactus a {
  color: #ffffff;
  margin: 0 10px;
  font-size: 2rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.footer .footer-contactus a:hover {
  color: #dda0dd; /* סגול בהיר */
  transform: scale(1.2);
}

.footer .copyright {
  font-size: 0.9rem;
  color: #cccccc;
}

/* אנימציה עדינה */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* מובייל */
@media (max-width: 768px) {
  .footer {
    padding: 20px 10px;
    gap: 15px;
  }

  .footer .footer-contactus a {
    font-size: 1.8rem;
  }
}
