.container {
    display: flex;
    flex-direction: column;
}

.mane {
    flex: 1;
    /* background-color: var(--bgSoft); */
    min-height: 3vh;

}
  .mane.final-page {
    flex: 1;
    /* background-color: var(--bgSoft); */
    min-height: 3vh;
    /* background-color: rgba(26, 125, 153, 0.4);  זה מה שגורם לזה שהיה צבע שונה בתפריט */

  }
.contemt {
    flex: 4;
}