# Node dependencies
node_modules/
.pnp/
.pnp.js

# Test coverage
coverage/

# Production build
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local


# macOS system files
.DS_Store

# Debug log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# General log files
*.log
# Temporary files
*.tmp