.blogs-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  gap: 20px;
  padding: 20px;
  background-color:var(--orange)
}

.blog-item {
 

/* width: 1400px; */
min-height: 411px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

  background-color:var(--text);
  color:var(--main);
  padding: 20px;
  border-radius: 8px;
  /* border: 1px solid #555; */
  cursor: pointer; /* מאפשר קליק על הבלוג */
}

/* כותרת הבלוג */
.blog-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color:var(--main);
}

/* תוכן הבלוג */
.blog-content {
  font-size: 0.9em;
  /* font-size: 14px; */
  line-height: 1.6;
  margin-bottom: 15px;
  color:var(--main);
 
}

/* פעולות הבלוג (כפתורים) */
.blog-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.blog-list{
  background-color: #fff;
}
.blogs-list-button {
  padding: 8px 12px;
  border: none;
  background-color:var(--lightBlue);
  color: white;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
}

.blogs-list-delete {
  background-color: var(--orange);
}

.blogs-list-button:hover {
  opacity: 0.8;
}
/* עיצוב לדף המכיל את כל הבלוגים */ */
.blogs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .blog-list {
    width: 100%;
    /* max-width: 800px; */
    margin-bottom: 20px;
  }
 /* עיצוב המודל */
.modal-overlay {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #444;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid #555;
  width: 80%;
  max-width: 600px;
  color: #fff;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.blog-item {
  filter: none !important; /* ביטול כל טשטוש */
  opacity: 1 !important; /* ביטול כל הורדת שקיפות */
  pointer-events: auto !important; /* ביטול כל מניעת אינטראקציה */
}

.blogs-container {
  filter: none !important;
  opacity: 1 !important;
  pointer-events: auto !important;
}
.blogs-list-add-button{
/* position: absolute; */
background: var(--main);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 24px;
font-size: 1rem;
display: flex;
justify-content: center;
align-items: center;
text-align: center; /* מרכז טקסט בתוך הכפתור */
font-family: "Varela Round", serif;
width: 12vw;
height: 7vh;
margin-right: 2vw;
color: var(--text);
cursor: pointer;
}
.add-blog-container {
  padding-top: 2vw;
  background-color: var(--orange) !important; 
  border-radius: 0% !important;
  position: relative;
  text-align: center;
}
