.navbarBox {
    display: flex;
    flex-direction: column;
    max-height: 200px;

}

.iphone-menu {
    display: none;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 100;
    border-bottom: 3px solid var(--text);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-text {
    padding: 60px;
    margin: 20px;
    max-width: 40vw;
}

.nav-title {
    margin: 30px;
    padding: 60px;
}

.nav-menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

.logout-button {
    padding: 20px;
    margin: 5px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    background: none;
    border: none;
    width: 100%;
    border-radius: 10px;
    color: var(--text);
    font-size: 1rem;
    font-family: "Varela Round";
}

/* 
.nav-search {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--text);
    padding: 10px;
    border-radius: 10px;
    color: var(--main)
}

.nav-input {
    background-color: transparent;
    border: none;
    color: var(--text);
} */

.nav-icons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-hello {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    font-size: 1.1rem;
    color: var(--text);
}

.account-profile {
    display: flex;
    align-items: center;
    color: var(--text);
    /* padding: 10px; */
    /* gap: 10px; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* left: 1196px; */
    margin-top: 0px;
    padding: 5px;
}


/* צבע בעת ריחוף (hover) */
.navbar-under-homepage a:hover {
    color: var(--lightBlue);
    cursor: pointer;

}

/* צבע כאשר הלינק פעיל (active) */
.navbar-under-homepage a.active-navlink-nav {
    color: var(--lightBlue);
}



.contact-button:hover {
    color: var(--lightBlue);
    cursor: pointer;
}

.navbar-top-homepage {
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--main);
    padding: 10px;
    gap: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 10;
}

.navbar-under-homepage {
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 20px;
    background-color: #fff;
    position: fixed;
    width: 100vw;
    height: 40px;
    top: 40px;
    color: var(--orange);
    direction: rtl;
    font-family: "Varela Round";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    border-bottom: 1px solid #00008b;
    z-index: 10;
}

.navbar-under-homepage button {

    left: 200px;
    background-color: transparent;
    color: var(--orange);
    border: none;
    font-family: "Varela Round";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;

}

.navbar-under-homepage button:hover,
.navbar-under-homepage :hover {
    color: var(--lightBlue);
    cursor: pointer;
}

.logo-homepage {
    position: relative;
    top: 20px;
    right: 90%;
    max-width: 100%;

    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    z-index: 1001;
}

.home-page-casing {
    background: radial-gradient(circle, #191923 0%, #1d1e3d 40%, #5b5d6e 100%);
    min-height: 200vh;
    display: flex;
    flex-direction: column;
}


.dropdown-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: var(--lightBlue);
    text-align: center;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    /* יישור התפריט לנקודת הכפתור */
    background-color: white;
    border-radius: 5px;
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-item {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
    color: var(--lightBlue);
}

.dropdown-item:hover {
    background-color: var(--lightBlue);
    border-radius: 5px;
    color: var(--text) !important;
}



/* .navbar-under-homepage {
    position: fixed;
    top: 40px;
    width: 100%;
    z-index: 998;
} */

@media (max-width: 480px) {
    .navbarBox {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* יישור התמונה בצד */
    }

    .iphone-menu {
        display: block;

        cursor: pointer;

        position: absolute;
        width: 32px;
        height: 37px;
        padding: 5px;
        z-index: 100;
    }

    .navbar-under-homepage {
        display: none;

    }

    .navbar-top-homepage {
        display: none !important;
    }
}